*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}


.back-image{

z-index: -1;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
};
section{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: rgba(48,50,56,0.5);
};
.input-date-block{
    position: fixed;
    top: 15px;
    width: 388px;
    height: 50px;
display: flex;

& button{
margin-left: 10px;
background-color: #eee;
min-width: 90px;
color: #3857bd;
border-radius: 5px;
font-weight: 500;
outline: none;
border: none;
};
& input{
background-color: rgba(106, 133, 103, 0.445);
border: 1px solid #2a2a2a;
border-radius: 5px;
font-size: 25px;
font-weight: 500;
outline: none; 
color: #eee;        
text-align: center;

}
}
.input-date-label{
    display: block;    
}

.timer{
display: flex;
color: #999797;
font-size: 22px;
text-align: center;
font-weight: 400;
& .field{
 display: inherit;
 
 align-items: center;
 justify-content: center;
 width: 240px;
 height: 240px;
 margin: 0 25px;
 border-radius: 50%;
 cursor: default;
 background: conic-gradient(#02c2c2 0 0%, #303238 0% 100%);
 box-shadow: 0 0 10px #303238, 0 0 20px #303238;
}
& .conic{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 210px;
height: 210px;
border-radius: 50%;
background: #1d1e22;
box-shadow: 0 0 4px #1d1e22, 0 0 6px #1d1e22;
}

};
.value {
    margin: -15px 0 0 0;
    text-align: center;
    font-size: 110px;
    font-weight: 700;
    color: #04dddd;
};
.label{
color: #f7f8a4;
font-size:16px ;
letter-spacing: 2px;
text-transform: uppercase;

}