*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

// button,
// label {
//     cursor: pointer;
// }

// input {
//     font: inherit;
// }

// img {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

// .timer {
//     display: flex;

//     margin-top: 10px;
// }

// .field {
//     display: flex;
//     flex-direction: column;
//     text-align: center;

// }

// .field:not(:last-child) {
//     margin-right: 12px;
// }

// .field .value {
//     font-weight: 400;
//     font-size: 45px;
// }

// ;
.back-image{
background: url('./img/_MG_17200.jpg') no-repeat center;
background-size: cover;
z-index: -1;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
};
section{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: rgba(48,50,56,0.5);
};
.input-date-block{
    position: fixed;
    top: 0;
    width: 220px;
    height: 110px;
    background: #1d1e22;
    box-shadow: 0 0 10px #1d1e22,0 0 20px #1d1e22;
    border-radius: 0 0 50% / 0 0 100% 100%;

    & .input-date{
    
    margin: 10px auto 0 auto;
    width: 150px;
    height: 40px;
    position: relative;
    & input{
    position: absolute;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    }
    }

};
.timer{

color: #999797;
font-size: 22px;
text-align: center;
font-weight: 400;
}